.summary {
  text-align: center;
  margin: auto;
  background-color: #222831;
  width: 70%;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

.summary img{
  padding-top: 0.5rem;
  object-fit: cover;
  width:100%;
}

.button-30 {
  margin: 1rem;
  align-items: center;
  appearance: none;
  background-color: #00ADB5;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#00ADB5 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 4rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-family: sans-serif;
  color: #e8e2e2;
}

.button-30:focus {
  box-shadow: #00ADB5 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00ADB5 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #00ADB5 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #00ADB5 0 3px 7px inset;
  transform: translateY(2px);
}
